# Ігнорувати git репозиторій
.git
# Ігнорувати всі Python байт-коди
__pycache__
*.pyc
*.pyo
# Ігнорувати конфігураційні файли IDE
.vscode
.idea
# Лог файли
*.log
# Ігнорувати тимчасові файли та кеші
*.tmp
*.bak
# Ігнорувати дані контейнерів
docker/
# Ігнорувати файли документації
*.md
